SQL and SQLite

SQL(Structured query language) is a standard languages for managing and manipulating relational databases. SQLite is a self-contained, serverless,
and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
## connect to an sqlite database
connection = sqlite3.connect('test.db')

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute('''
    Create Table If not Exists Employees(
               id integer primary key,
               name Text Not Null,
               age integer,
               department Text  
    )
''')

connection.commit()

In [5]:
cursor.execute('''
select * from Employees
''')

In [6]:
#insert the data in Sqlite table Employees

cursor.execute('''
insert into Employees(id,name,age,department) 
               values(1,'John',25,'HR')''')

cursor.execute('''
insert into Employees(id,name,age,department) 
               values(2,'Ranjith',34,'ENG')
               ''')

cursor.execute('''
insert into Employees(id,name,age,department) 
               values(3,'bob',25,'finance')''')

cursor.execute('''
insert into Employees(id,name,age,department) 
               values(4,'clirk',34,'maintenance')
               ''')
#commit the changes
connection.commit()

In [9]:
##query the data from Sqlite table Employees

cursor.execute('''select * from Employees''')
rows = cursor.fetchall()
rows
for row in rows:
    print(row)

(1, 'John', 25, 'HR')
(2, 'Ranjith', 34, 'ENG')
(3, 'bob', 25, 'finance')
(4, 'clirk', 34, 'maintenance')

In [10]:
##update the data in Sqlite table Employees

cursor.execute('update Employees set name = "Johnny" where id = 1')
connection.commit()

In [11]:
##query the data from Sqlite table Employees

cursor.execute('''select * from Employees''')
rows = cursor.fetchall()
rows
for row in rows:
    print(row)

(1, 'Johnny', 25, 'HR')
(2, 'Ranjith', 34, 'ENG')
(3, 'bob', 25, 'finance')
(4, 'clirk', 34, 'maintenance')

In [12]:
#delete the data in Sqlite table Employees

cursor.execute('delete from Employees where id = 1')
connection.commit()

In [13]:
##query the data from Sqlite table Employees

cursor.execute('''select * from Employees''')
rows = cursor.fetchall()
rows
for row in rows:
    print(row)

(2, 'Ranjith', 34, 'ENG')
(3, 'bob', 25, 'finance')
(4, 'clirk', 34, 'maintenance')

In [14]:
##working with sales data

#connect to an sqlite database
connection = sqlite3.connect('sales.db')
cursor = connection.cursor()

In [15]:
#create table sales
cursor.execute('''
Create Table If not Exists sales(
               id integer primary key,
               date Text Not Null,
               sales integer,
               region Text  
    )
''')

In [16]:
sales_data = [
    (1, '2020-01-01', 100, 'East'),
    (2, '2020-01-02', 200, 'East'),
    (3, '2020-01-03', 300, 'West'),
    (4, '2020-01-04', 400, 'West'),
    (5, '2020-01-05', 500, 'East'),
    (6, '2020-01-06', 600, 'West'),
    (7, '2020-01-07', 700, 'East'),
]

In [18]:
#insert the data in Sqlite table sales
cursor.executemany('''
insert into sales(id,date,sales,region) 
               values(?,?,?,?)''', sales_data)
connection.commit()

In [21]:
#query the data from Sqlite table sales
cursor.execute('''select * from sales''')
rows = cursor.fetchall()
rows
for row in rows:
    print(row)
    print(row[0],row[1],row[2],row[3])

(1, '2020-01-01', 100, 'East')
1 2020-01-01 100 East
(2, '2020-01-02', 200, 'East')
2 2020-01-02 200 East
(3, '2020-01-03', 300, 'West')
3 2020-01-03 300 West
(4, '2020-01-04', 400, 'West')
4 2020-01-04 400 West
(5, '2020-01-05', 500, 'East')
5 2020-01-05 500 East
(6, '2020-01-06', 600, 'West')
6 2020-01-06 600 West
(7, '2020-01-07', 700, 'East')
7 2020-01-07 700 East

In [22]:
##close the connection
connection.close()