In [1]:
#passing list to function and sum the numbers passed through list

scores = [1,2,3,4,5]

def sum_scores(numbers):
    total = 0
    for number in numbers:
        total += number
    return total

In [2]:
sum_scores(scores)

15

In [3]:
numbers = [10,25,35,45,50,60,70,80,90]
total=sum_scores(numbers)
print(total)

465

Returning a list

In [4]:
#passing a list to a function and return a list with some transformations

def remove_duplicates(numbers):
    new_list =[] #create an empty list to store the unique numbers
    for number in numbers:
        if number not in new_list: #check if the number is already in the list
            new_list.append(number) #add the number to the list
    return new_list #return the list

In [8]:
unique_ids =[100,1,2,3,4,5,6,7,8,9,10,11,12,13,13.5,14,14,15,15,16,17,18,19,20,1,2,3,4,5,6,7,8,9,10]

result = remove_duplicates(unique_ids)

print(result)

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 13.5, 14, 15, 16, 17, 18, 19, 20]

In [9]:
def rem_dupli(numbers):
    return list(set(numbers))

In [11]:
res= rem_dupli(unique_ids)

print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 13.5, 14, 15, 16, 17, 18, 19, 20, 100]