In [1]:
#set is collection of unique elements and unordered and cannot access elements using index
#creating set with set function
numbers = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
#creating set with {}
new_num ={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(new_num)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
#set cannot have duplicate elements
duplicate = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
duplicate

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
#set can have different data types
#in below example we are creating set with different data types elements in it int 1 and bool true set considers as same
ex = {True,1.5,'ranje',1.0,2.5}

ex

{1.5, 2.5, True, 'ranje'}

Creating Empty Set

In [11]:
#empty set cant be created with {} as it is an empty dictionary
s={}
type(s)

dict

In [12]:
#empty set cant be created with {} as it is an empty dictionary and if we give give value inside the curley braces that consider set
s={'ranj'}

type(s)

set

In [13]:
#Empty set can be created with set function
empty_set = set()

type(empty_set)

set