In [1]:
#Tuples are ordered and unchangeable 
#Tuples are immutable
fruits = ("apple", "banana", "cherry")

In [2]:
print(fruits)

('apple', 'banana', 'cherry')

In [3]:
#accessing tuple items using index same as list 
fruits[0]

'apple'

In [4]:
#tuples are immutable
fruits[0] = "kiwi"

TypeError: 'tuple' object does not support item assignment

In [5]:
#slicing tuples same as list
fruits[1:3]

('banana', 'cherry')

In [6]:
#negative indexing same as list
fruits[-1]

'cherry'

In [ ]:
#using tuples in program may much faster compare to list

In [1]:
#tuple operations
numbers = (1, 2, 3, 4, 5)
mixed_tupl = (1, "Hello", 3.4)

concat_tupl = numbers + mixed_tupl
print(concat_tupl)

(1, 2, 3, 4, 5, 1, 'Hello', 3.4)

In [5]:
#Tuple Methods

print(concat_tupl.count(1))
print(concat_tupl.index(3.4))

2
7

In [6]:
#packing and unpacking tuples
fruits = ("apple", "banana", "cherry") #packing
a, b, c = fruits #unpacking
print(a)
print(b)
print(c)

apple
banana
cherry

In [7]:
#unpacking with *
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
a, *b, c = fruits
print(a)
print(b)
print(c)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [9]:
## nested tuples

nested_tuple = (1, 2, 3, ("a", "b", "c"), ("d", "e", "f"))

## accessing nested tuple
print(nested_tuple[3][1])

b

In [15]:
#iterating over nested tuple

for sub_tuple in nested_tuple:
    if type(sub_tuple) == tuple:
        for item in sub_tuple:
            print(item, end=" ")
        print()
    elif type(sub_tuple) == int:
        print(sub_tuple, end=" ")
        print()

1
2
3
a b c
d e f

In [17]:
# Tuple and dictionary
#create a dictionary with tuple keys and integer values. print the dictionary.

tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

###Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [19]:
string = "hello"
tpl = tuple(string)
print(tpl)
joined_string = ''.join(tpl)
print(joined_string)

('h', 'e', 'l', 'l', 'o')
hello

In [21]:
### Assignment 14: Tuple and Set
#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

dup_tupl = (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
uniq_tup = set(dup_tupl)
print(tuple(uniq_tup))

(1, 2, 3, 4)

In [22]:
### Assignment 15: Tuple Functions
#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def min_max_sum(tpl):
    print(min(tpl))
    print(max(tpl))
    print(sum(tpl))

sample_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
min_max_sum(sample_tuple)

1
10
55