# Module: SQLite3 Assignments
### 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `sample.db`.

In [1]:
import sqlite3

In [42]:
#Write a Python function to create a new SQLite3 database named `sample.db`.

def create_db(sample_db):
    try:
        with sqlite3.connect(sample_db):
            pass
    except sqlite3.OperationalError:
        print("Database already exists")
        

create_db("trial.db")

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `sample.db` database.

In [43]:
def create_table():
    try:
        with sqlite3.connect("trial.db") as connection:
            cursor =connection.cursor()
            cursor.execute("CREATE TABLE IF NOT EXISTS employees(id INTEGER PRIMARY KEY, name TEXT, age INTEGER, department TEXT)")
            connection.commit()
            print("Table created successfully")
    except sqlite3.OperationalError:
        print("Table already exists")

create_table()

Table created successfully

### 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [44]:
def insert_employees(id, name, age, department):
    try:
        with sqlite3.connect("trial.db") as connection:
            cursor =connection.cursor()
            cursor.execute("""
            INSERT INTO employees(id, name, age, department) VALUES(?,?,?,?)""",(id, name, age, department))
            connection.commit()
            print("Data inserted successfully")
    except sqlite3.OperationalError:
        print("Data already exists")
#test the function
insert_employees(1,"John", 25, "HR")

Data inserted successfully

2. Insert at least 5 different employees into the `employees` table.

In [45]:
insert_employees(2, 'Bob', 25, 'Engineering')
insert_employees(3, 'Charlie', 28, 'Sales')
insert_employees(4, 'David', 35, 'Marketing')
insert_employees(5, 'Eve', 22, 'HR')

Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully

### 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [82]:
def fetching_all_employees(table_name="employees"):
    try:
        with sqlite3.connect("trial.db") as connection:
            cursor =connection.cursor()
            cursor.execute(f"SELECT * FROM {table_name}")
            rows = cursor.fetchall()
            for row in rows:
                print(row)
    except sqlite3.OperationalError:
        print("Data not found")
fetching_all_employees()

(1, 'John', 37, 'Management', None)
(2, 'John', 25, 'HR', None)
(3, 'Charlie', 31, 'Sales', None)
(4, 'David', 40, 'Marketing', None)
(6, 'John', 25, 'HR', None)
(7, 'Bob', 29, 'Engineering', None)
(8, 'Charlie', 28, 'Sales', None)
(9, 'David', 35, 'Marketing', None)
(10, 'Eve', 22, 'HR', None)
(11, 'Johny', 27, 'Sales', None)

2. Write a Python function to fetch and display all employees from a specific department.

In [50]:
def fetching_employees_by_department(department):
    try:
        with sqlite3.connect("trial.db") as connection:
            cursor =connection.cursor()
            cursor.execute("SELECT * FROM employees WHERE department = ?", (department,))
            rows = cursor.fetchall()
            for row in rows:
                print(row)
    except sqlite3.OperationalError:
        print("Data not found")
#test the function
fetching_employees_by_department("Sales")

(3, 'Charlie', 28, 'Sales')

### 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [51]:
def update_employees(id,departemnt):
    try:
        with sqlite3.connect("trial.db") as connection:
            cursor = connection.cursor()
            cursor.execute("UPDATE employees SET department = ? WHERE id = ?",(departemnt, id))
            connection.commit()
            print("Employee department updated successfully\n")
    except sqlite3.OperationalError:
        print("Data not found")    
    

#test the function
update_employees(1, "Management")

Employee department updated successfully please check below

2. Update the department of at least 2 employees and display the updated records.

In [52]:
update_employees(2, "Reception")
update_employees(3, "Sales")
update_employees(4, "Marketing")

fetching_all_employees()

Employee department updated successfully please check below

Employee department updated successfully please check below

Employee department updated successfully please check below

(1, 'John', 25, 'Management')
(2, 'Bob', 25, 'Reception')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

###  5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [54]:
def delete_employees(id):
    try:
        with sqlite3.connect("trial.db") as connection:
            cursor = connection.cursor()
            cursor.execute("DELETE FROM employees WHERE id = ?", (id,))
            connection.commit()
            print("Employee deleted successfully")

    except sqlite3.OperationalError:
        print("Data not found")
#test the function
delete_employees(2)

Employee deleted successfully

2. Delete at least 1 employee and display the remaining records.

In [56]:

fetching_all_employees()
delete_employees(5)
fetching_all_employees()

(1, 'John', 25, 'Management')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
Employee deleted successfully
(1, 'John', 25, 'Management')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')

### 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [58]:
def fetch_employees_older_than(age):
    try:
        with sqlite3.connect("trial.db") as connection:
            cursor = connection.cursor()
            cursor.execute("SELECT * FROM employees WHERE age > ?",(age,))
            rows = cursor.fetchall()
            for row in rows:
                print(row)
    except sqlite3.OperationalError:
        print("Data not found")

#test the function
fetch_employees_older_than(25)

(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [60]:
def fetch_employees_name_sarts_with(letter):
    try:
        with sqlite3.connect("trial.db") as connection:
            cursor = connection.cursor()
            cursor.execute("SELECT * FROM employees WHERE name LIKE ?",(letter + "%",))
            records = cursor.fetchall()
            for record in records:
                print(record)
    except sqlite3.OperationalError:
        print("Data not found")
#test the function
fetch_employees_name_sarts_with("J")

(1, 'John', 25, 'Management')

###  7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [63]:
def insert_multiple_employees(employees):
    try:
        with sqlite3.connect("trial.db") as connection:
            cursor = connection.cursor()
            cursor.executemany("INSERT INTO employees(id, name, age, department) VALUES(?,?,?,?)", employees)
            connection.commit()
            print("Data inserted successfully")
    except Exception as e:
        connection.rollback()
        print("Data insertion failed, transaction rolled back")
        print(e)

employees =[
    (6, 'John', 25, 'HR'),
    (7, 'Bob', 25, 'Engineering'),
    (8, 'Charlie', 28, 'Sales'),
    (9, 'David', 35, 'Marketing'),
    (10, 'Eve', 22, 'HR')]

insert_multiple_employees(employees)

Data insertion failed, transaction rolled back
UNIQUE constraint failed: employees.id

In [66]:
fetching_all_employees()

(1, 'John', 32, 'Management')
(3, 'Charlie', 33, 'Sales')
(4, 'David', 41, 'Marketing')
(6, 'John', 25, 'HR')
(7, 'Bob', 25, 'Engineering')
(8, 'Charlie', 28, 'Sales')
(9, 'David', 35, 'Marketing')
(10, 'Eve', 22, 'HR')

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [71]:
def update_multiple_employees_age(updates):
    connection = sqlite3.connect("trial.db")
    cursor = connection.cursor()
    try:
        cursor.executemany("UPDATE employees SET age = ? WHERE id = ?", updates)
        connection.commit()
        print("Employees ages updated successfully")
    except Exception as e:
        connection.rollback()
        print("Data insertion failed, transaction rolled back")
        print(e)
    finally:
        cursor.close()
        connection.close()

# Test the function with valid and invalid data
updates = [
    (37, 1),
    (28, 2),# Non-existing ID to cause an error
    (31, 3),
    (40, 4),  
    (26, 5),# Non-existing ID to cause an error
    (25, 6),
    (29, 7)
]
fetching_all_employees()
update_multiple_employees_age(updates)
fetching_all_employees()

(1, 'John', 35, 'Management')
(3, 'Charlie', 31, 'Sales')
(4, 'David', 40, 'Marketing')
(6, 'John', 25, 'HR')
(7, 'Bob', 25, 'Engineering')
(8, 'Charlie', 28, 'Sales')
(9, 'David', 35, 'Marketing')
(10, 'Eve', 22, 'HR')
Employees ages updated successfully
(1, 'John', 37, 'Management')
(3, 'Charlie', 31, 'Sales')
(4, 'David', 40, 'Marketing')
(6, 'John', 25, 'HR')
(7, 'Bob', 29, 'Engineering')
(8, 'Charlie', 28, 'Sales')
(9, 'David', 35, 'Marketing')
(10, 'Eve', 22, 'HR')

### 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [72]:
def create_department_table():
    try:
        with sqlite3.connect("trial.db") as connection:
            cursor = connection.cursor()
            cursor.execute("CREATE TABLE IF NOT EXISTS departments(id INTEGER PRIMARY KEY, name TEXT)")
            connection.commit()
            print("Table created successfully")
    except sqlite3.OperationalError:
        print("Table already exists")
    except Exception as e:
        print(e)

create_department_table()

Table created successfully

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [75]:
def add_department_foreign_key():
    try:
        with sqlite3.connect('trial.db') as connection:
            cursor= connection.cursor()
            cursor.execute("""    PRAGMA foreign_keys = off;""")
            cursor.execute("""    BEGIN TRANSACTION;""")
            cursor.execute("""    ALTER TABLE employees RENAME TO old_employees;""")

            cursor.execute("""    CREATE TABLE employees(
                    id INTEGER PRIMARY KEY,
                    name TEXT,
                    age INTEGER,
                    department TEXT,
                    department_id INTEGER,
                    FOREIGN KEY(department_id) REFERENCES departments(id)
                );""")
            cursor.execute("""    INSERT INTO employees(id, name, age, department)
                SELECT id, name, age, department
                FROM old_employees;""")
            
            cursor.execute("""    DROP TABLE old_employees;""")
            connection.commit()
            cursor.execute("""    PRAGMA foreign_keys = on;""")
            
            print("Foreign key added successfully")
    except Exception as e:
        connection.rollback()
        print("Foreign key addition failed, transaction rolled back")
        print(e)

# Test the function
add_department_foreign_key()

Foreign key added successfully

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [86]:
def insert_department_and_employees(department_id,department_name,employee_id,name,age,department):
    try:
        with sqlite3.connect("trial.db") as connection:
            cursor = connection.cursor()
            cursor.execute("INSERT INTO departments(id, name) VALUES(?,?)",(department_id,department_name))
            cursor.execute("INSERT INTO employees(id, name, age, department, department_id) VALUES(?,?,?,?,?)",(employee_id,name,age,department,department_id))
            connection.commit()
            print("Data inserted successfully")
    except Exception as e:
        connection.rollback()
        print("Data insertion failed, transaction rolled back")
        print(e)

# Test the function
insert_department_and_employees(3,"Marketing",12,"Johny_abrams",27,"Marketing")

Data inserted successfully

In [88]:
fetching_all_employees('departments')

(1, 'HR')
(2, 'Sales')
(3, 'Marketing')

###  9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [89]:
def create_index_name():
    try:
        with sqlite3.connect("trial.db") as connection:
            cursor = connection.cursor()
            cursor.execute("CREATE INDEX IF NOT EXISTS name_index ON employees(name)")
            connection.commit()
            print("Index created successfully")
    except Exception as e:
        print(e)

create_index_name()

Index created successfully

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [93]:
import time

def fetch_all_employees_name_starts_with_performance(letter):
    try:
        start_time = time.time()
        with sqlite3.connect("trial.db") as connection:
            cursor = connection.cursor()
            cursor.execute(f"SELECT * FROM employees WHERE name LIKE '{letter}%'")
            rows = cursor.fetchall()
            for row in rows:
                print(row)
        end_time = time.time()
        print(f"Execution time: {end_time - start_time} seconds")

    except Exception as e:
        print(e)


# Test the function
fetch_all_employees_name_starts_with_performance("C")

(3, 'Charlie', 31, 'Sales', None)
(8, 'Charlie', 28, 'Sales', None)
Execution time: 0.0010004043579101562 seconds

### 10: Backing Up and Restoring Data

1. Write a Python function to back up the `trial.db` database to a file named `backup.db`.

In [95]:
import shutil

def backup_database():
    try:
        shutil.copy("trial.db", "trial_backup.db")
        print("Database backup created successfully")
    except Exception as e:
        print(e)

backup_database()

Database backup created successfully

2. Write a Python function to restore the `trial.db` database from the `trial_backup.db` file.

In [96]:
def restore_database():
    try:
        shutil.copy("trial_backup.db", "trial.db")
        print("Database restored successfully")
    except Exception as e:
        print(e)

restore_database()

Database restored successfully

In [97]:
fetching_all_employees()

(1, 'John', 37, 'Management', None)
(2, 'John', 25, 'HR', None)
(3, 'Charlie', 31, 'Sales', None)
(4, 'David', 40, 'Marketing', None)
(6, 'John', 25, 'HR', None)
(7, 'Bob', 29, 'Engineering', None)
(8, 'Charlie', 28, 'Sales', None)
(9, 'David', 35, 'Marketing', None)
(10, 'Eve', 22, 'HR', None)
(11, 'Johny', 27, 'Sales', None)
(12, 'Johny_abrams', 27, 'Marketing', 3)